* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #222;
  width: 100%;
  height: 50px;
}

.container {
  width: 750px;
}

.navbar-left {
  color: white;
  padding-top: 10px;
  font-size: 20px;
  float: left !important;
}

.navbar-right {
  float: right;
  list-style: none;
  
  padding-top: 5px;
}

.home {
  float: left;
  padding: 10px 15px;
  
}

.users {
  float: left;
  padding: 10px 15px;
}

.books {
  float: left;
  padding: 10px 15px;
}

.logout {
  float: left;
  padding: 10px 15px;
}

.about {
  float: left;
  padding: 10px 15px;
}

.signup {
  float: left;
  padding: 10px 15px;
}

.login {
  float: left;
  padding: 10px 15px;
}

li {
  color: lightgray;
}

.center-block {
  text-align: center;
  width: 50%;
}

.error_message {
  color: red;
}

#notice {
  color: green;
}

.top-text {
  text-align: left;
}

.about-text {
  margin-left: 150px;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-3 {
  width: 25%;
}

.nav-search {
  width: 100%;
}

.nav-search {
  text-align: center;
  margin-top: 10px;
}

@import "bootstrap-sprockets";  
@import "bootstrap";      